<div>
    <label>Ram:</label>
    <input type="text" name="RAM" />
</div>
<div>
    <label>Processor:</label>
    <input type="text" name="Processor" />
</div>
<div>
    <label>Min Price:</label>
    <input type="number" name="MinPrice" />
</div>
<div>
    <label>Max Price:</label>
    <input type="number" name="MaxPrice" />
</div>
