
<div>
    <label>Brand:</label>
    <input type="text" name="Laptop.Brand" />
</div>
<div>
    <label>Ram:</label>
    <input type="text" name="Laptop.RAM" />
</div>
<div>
    <label>Processor:</label>
    <input type="text" name="Laptop.Processor" />
</div>
<div>
    <label>Min Price:</label>
    <input type="number" name="Laptop.MinPrice" />
</div>
<div>
    <label>Max Price:</label>
    <input type="number" name="Laptop.MaxPrice" />
</div>
