<div>
    <label>Type:</label>
    <input type="text" name="Type" />
</div>
<div>
    <label>Smell:</label>
    <input type="text" name="Smell" />
</div>
<div>
    <label>Volume:</label>
    <input type="number" name="Volume" />
</div>
