

<div>
    <label>Brand:</label>
    <input type="text" class="form-control" name="Television.Brand" />
</div>
<div>
    <label>Inc:</label>
    <input type="number" class="form-control" name="Television.Inc" />
</div>
<div>
    <label>Min Price:</label>
    <input type="number" class="form-control" name="Television.MinPrice" />
</div>
<div>
    <label>Max Price:</label>
    <input type="number" class="form-control" name="Television.MaxPrice" />
</div>