@model WholeSaler.Web.Areas.Auth.Models.ViewModels.Product.ProductEditVM

<h3>Television Specific Fields</h3>
<!-- Add any other specific fields for Television here -->
@await Component.InvokeAsync("DynamicForm", Model.Perfume)
