
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Auth/Views/Shared/_AuthLayout.cshtml";
    var categories = ViewBag.Categories;
    var storeId = ViewData["storeId"];

}

<h1>auth store index</h1>

