@model ProductComprehensiveVM

@{
 

}

  
    <div class="form-group">
        <label asp-for="Laptop.Processor"></label>
        <input asp-for="Laptop.Processor" class="form-control" />
        <span asp-validation-for="Laptop.Processor" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Laptop.RAM"></label>
        <input asp-for="Laptop.RAM" class="form-control" />
        <span asp-validation-for="Laptop.RAM" class="text-danger"></span>

    </div>















