@model ProductComprehensiveVM

@{


}


<div class="form-group">
    <label asp-for="Perfume.Type"></label>
    <input asp-for="Perfume.Type" class="form-control" />
    <span asp-validation-for="Perfume.Type" class="text-danger"></span>

</div>
<div class="form-group">
    <label asp-for="Perfume.Smell"></label>
    <input asp-for="Perfume.Smell" class="form-control" />
    <span asp-validation-for="Perfume.Smell" class="text-danger"></span>

</div>
<div class="form-group">
    <label asp-for="Perfume.Volume"></label>
    <input asp-for="Perfume.Volume" class="form-control" />
    <span asp-validation-for="Perfume.Volume" class="text-danger"></span>

</div>